.navbar {
   position:fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10; 
   background-color: white;
}

.navbar.active{
   box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.navbar .navbar__content {
    padding: 3rem 4rem 1rem;
    display: flex;
    justify-content: space-between;
}


.navbar .navbar__content .navbar__links li {
   display: inline-block;
}

.navbar .navbar__content .navbar__links li:not(:last-of-type) {
    margin-right: 2rem ;
 }

 .navbar .navbar__content .navbar__links a {
    padding: 1rem;
    display:inline-block;
 }

 .navbar .navbar__content .navbar__links a:hover {
   color: gray;
   
   
 }

 .navbar .navbar__content .navbar__mobile,
 .navbar .navbar__content .navbar__mobile mobile.links{
   display: none;
 }

 .navbar.active{
   box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1)  ;
 }
/* Aqui é onde estiliso para celular o começo */
 @media only screen and (max-width:768px){
   /* Escondo o link do formato web */
   .navbar .navbar__content .navbar__links{
      display: none;
   }
   /* Aqui chamo o formato de celular */
   .navbar .navbar__content .navbar__mobile{
     display: flex;
     align-items: center
   }

/* Aqui chamo o formato de celular */
.navbar .navbar__content .navbar__mobile img{
 width: 3.6rem;
 height: 3.6rem;
 cursor: pointer;
}


.navbar .navbar__content .navbar__mobile .mobile__links {
   visibility: hidden;
}

.navbar .navbar__content .navbar__mobile.active .mobile__links{
  visibility: visible;
   display: flex;
   flex-direction: column;
   background-color: white;
   width: 100%;
   position: absolute;
   top: 98%;
   left: 0;
   padding: 1rem 0;
   box-shadow: 0 0.4rem 0.5rem rgb(0, 0, 0,0.1);
   z-index: 1;
}

.navbar .navbar__content .mobile__links a:hover {
   color: gray;
  
 }

.navbar .navbar__content .navbar__mobile.active .mobile__links li{
margin-right:0 ;
  
}
.navbar .navbar__content .navbar__mobile.active .mobile__links li a{
padding: 1rem;
display: block;
text-align: center;

}


.navbar .navbar__mobile img.burguer {
   position: absolute;
   top: 5px; /* Ajuste a posição vertical conforme necessário */
   right: 5px; /* Ajuste a posição horizontal conforme necessário */
   cursor: pointer;
}
   
 }